
.burger__menu{
    display: none;
}

.header{
    background-color: var(--green-color);
}

.header.hide {
    transform: translateY(-100%);
}

.header__inner{
    display: flex;
    justify-content: space-between;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;

    padding-top: 33px;
    padding-bottom: 32px;
}

.line{
    display: none;
}

.menu{
    display: flex;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 0 60px;
}

.menu__link{
    color: var(--main-color);
}

.menu__item:hover,
.menu__link:hover{
    color: var(--green-normal-color);
}

.menu__item:focus,
.menu__link:focus{
    background-color: var(--green-light-color);
    outline: none;
}

.menu__item:active,
.menu_item:active{
    color: var(--green-dark-color);
}

.main__inner .bird__image{
    flex: 1;

    width: 100%;
    height: auto;
}

.main__inner{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0 30px;
    padding-top: 50px;
}

.text__block{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.text__block .text__block__one{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 3.75rem;
}

.text__block .ink__color{
    color: var(--green-normal-color);
}

.text__block .text__block__two{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;

    padding-top: 20px;
    padding-bottom: 60px;

    color: #86928B;
}

.text__block .button{
    padding: 21px 60px;

    width: fit-content;

    background-color: white;
    border: 1px solid var(--green-normal-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;

    color: var(--green-normal-color);
}

.button:hover{
    color: #F4F6F5;
    background-color: var(--green-normal-color);
}

.button:focus{
    background-color: var(--green-light-color);
}

.button:active{
    color: var(--white-color);
    background-color: var(--green-dark-color);
}

@media (max-width: 1440px){
    .header__inner{
        font-size: 1.125rem;

        padding-top: 33px;
        padding-bottom: 32px;
    }
    
    .menu__item{
        margin: auto 0;
    }

    .menu__list{
        gap: 0 60px;
    }

    .main__inner .bird__image{
        max-width: 100%;
        height: auto;
    }

    .text__block .text__block__one{
        font-size: 2.5rem;        
    }

    .text__block .text__block__two{
        padding-bottom: 40px;
    }
}

@media (max-width: 768px){

    .header__inner{
        flex-direction: column;
        gap: 16px;

        padding: 16px 0;
    }

    .header-logo{
        display: flex;
        justify-content: center;
    }

    .line{
        display: flex;

        border-top: 1px solid var(--border-color);
    }

    .menu__list{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-wrap: nowrap;
        position: relative;
        gap: 60px;

    }

    .menu__list li:nth-child(4){
        position: absolute;
        right: 0;
    }

    .text__block .text__block__one{
        font-size: 2.25rem;        
    }

    .text__block .text__block__two{
        font-size: 1rem;
        padding-top: 10px;
        padding-bottom: 11px;
    }

    .main__inner{
        display: flex;
        justify-content: start;
    }

    

    .main__inner .text__block{
        flex: 1;
        width: 100%;
    }

    .main__inner .bird__image{
        width: 100%;
        max-width: 100%;
    }

    .main_inner .bird__image img{
        width: 100%;
        height: auto;

    }

    .text__block .button{
        padding: 14.5px 41px;

        font-size: 1.125rem;
    }

}

@media (max-width: 576px){
    .container{
        margin: 0 auto;
        padding: 0 15px;
    }

    .header .container{
        max-width: 100%;
        padding: 0;
    }

    .header{
        background-color: var(--green-color);
    }
    .main__inner{
        padding-top: 60px;
    }

    .main__inner .bird__image{
        display: none;
    }

    .line{
        display: none;
    }

    .menu{
        padding: 16px 15px;
    }

    .text__block .text__block__one{
        font-size: 1.875rem;        
    }

    .text__block .text__block__two{
        font-size: 0.875rem;
        padding-top: 20px;
        padding-bottom: 40px;        
    }

    .header__inner{
        align-items: center;
        width: 100%;

        padding: 0;
        gap: 0px;
    }

    .header__inner .header-logo{
        width: 100%;

        background-color: var(--white-color);

        padding-top: 17px;
        padding-bottom: 16px;
    }


    .text__block .button{
        padding: 14.5px 29px;

        font-size: 1.125rem;
    }

    .menu{
        display: none;
    }

    .burger__menu{
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;

        padding: 16px 15px;
    }

    .burger__link{
        width: fit-content;
        height: fit-content;
    }

    .burger__button{
        color: var(--gray-dark-color);
    }

    .burger__button:hover,
    .burger__link:hover{
        color: var(--green-normal-color);
    }
    
    .burger__button:focus
    .burger__link:focus{
        background-color: var(--green-light-color);
        outline: none;
    }
    
    .burger__button:active
    .burger__link:active{
        color: var(--green-dark-color);
    }
}