.reproducts__inner{
    margin-top: 70px;
}

.reproducts__header{
    display: flex;
    justify-content: space-between;
}

.reproducts__header .reproducts__txt{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}

.reproducts__header .reproducts__buttons{
    display: flex;
    justify-content: space-between;
    
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;

    gap: 32px;

}

.reproducts__header .reproducts__buttons button{
    background-color: var(--green-light-color);
    
    border-radius: 20px;
    border: 2px solid var(--green-light-color);

    padding: 10px 20px;
}

.reproducts__header .reproducts__buttons button:hover{
    color: var(--white-second-color);
    background-color: var(--green-normal-color);
    border-color: var(--green-normal-color);
}

.reproducts__header .reproducts__buttons button:focus{
    border-color: var(--green-normal-color);
}

.reproducts__header .reproducts__buttons button:active{
    color: var(--white-second-color);
    background-color: var(--green-dark-color);
    border-color: var(--green-dark-color);

}

.reproducts__main{
    margin-top: 30px;
}

.reproducts__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    
    gap: 30px 30px;
}

.reproducts__item,
.reproducts__item__two,
.reproducts__item__three{
    background-color: var(--green-color);
}

.reproducts__container{
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.reproducts__container img{
    max-width: 100%;
    height: auto;
    max-height: 100%;


}

.author__txt{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;

    white-space: nowrap;

    color: var(--gray-color);

    padding-top: 20px;
}

.name__txt{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.875rem;

    white-space: nowrap;

    padding-top: 10px;
    padding-bottom: 8px;
}

.size__txt{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.125rem;

    white-space: nowrap;
}

.price__txt{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;

    color: var(--green-normal-color);

    white-space: nowrap;

    padding-top: 30px;
    padding-bottom: 20px;
}

.confirm{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;

    white-space: nowrap;

    color: var(--green-normal-color);
    background-color: var(--green-color);

    padding: 20px 60px;
    
    border: 1px solid var(--green-normal-color);
}

.confirm:hover{
    background-color: var(--green-normal-color);
    color: var(--white-second-color);
}

.confirm:focus{
    background-color: var(--green-light-color);
    border: 1px solid var(--green-normal-color);
}

.confirm:active{
    color: var(--white-second-color);
    background-color: var(--green-dark-color);
}

@media (max-width:992px) {
    .reproducts__inner{
        margin: 70px auto;
    }

    .reproducts__list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .reproducts__header .reproducts__txt{
        font-size: 1.875rem;
    }

}

@media (max-width:768px){
    .reproducts__inner{
        margin: 50px auto;
    }

    .reproducts__header{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .reproducts__header .reproducts__buttons{
        display: flex;
        justify-content: start;
        font-size: 1.125rem;
    }

    .author__txt{
        font-size: 1rem;

        padding-top: 15px;
    }

    .name__txt{
        font-size: 1.5rem;

        padding-top: 10px;
        padding-bottom: 10px;
    }

    .size__txt{
        font-size: 1rem;
    }

    .price__txt{
        font-size: 1.25rem;

        padding-top: 30px;
        padding-bottom: 10px;
    }

    .confirm{
        font-size: 1.125rem;
    }
}

@media (max-width:576px){
    .reproducts__inner{
        margin: 60px auto;
    }

    .reproducts__list{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);

    }

    .reproducts__item,
    .reproducts__item__two,
    .reproducts__item__three{
        max-width: none;
    }

    .reproducts__buttons {
        overflow-x: auto; 
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 5px;
        
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    .reproducts__buttons::-webkit-scrollbar {
        display: none;
    }
    
    .reproducts__buttons button {
        display: inline-block;
        flex-shrink: 0;
    }
}
